In [1]:
import sys
import os
sys.path.append('/home/xhuang')
from test_factor import *

In [2]:
file_path='/home/xhuang/stockBT_mm/xy_logs/002182_20190220.csv'
file_path1='/home/xhuang/stockBT_mm/xy_logs/002182_20190221.csv'
file_path2='/home/xhuang/stockBT_mm/xy_logs/002182_20190222.csv'
factor_list = ['static_count', 'recent_obsc', 'obsc', 'recent_obsc_sign']
factor_list = ['static_count', 'obsc']

In [3]:
test(file_path, factor_list)

handling /home/xhuang/stockBT_mm/xy_logs/002182_20190220.csv
date is  20190220
ticker is  002182
bid_hit_ratio is 0.0
ask_hit_ratio is 0.0
bid_profit_ratio is 0.06985466479137366
bid_loss_ratio is 0.10150023441162681
ask_profit_ratio is 0.08720112517580872
ask_loss_ratio is 0.09751523675574308
filter sec is  4.543789625167847
test sec is  0.022694826126098633

                       bid            ask
static_count  [31, 13, 11]  [289, 24, 34]
obsc          [79, 10, 15]  [292, 24, 33]

In [4]:
test(file_path1, factor_list)

handling /home/xhuang/stockBT_mm/xy_logs/002182_20190221.csv
date is  20190221
ticker is  002182
bid_hit_ratio is 0.0
ask_hit_ratio is 0.0
bid_profit_ratio is 0.05205728574676063
bid_loss_ratio is 0.04273698567856331
ask_profit_ratio is 0.019777222095930892
ask_loss_ratio is 0.0766083200727438
filter sec is  4.704119920730591
test sec is  0.021813154220581055

                      bid           ask
static_count   [45, 4, 1]  [331, 4, 23]
obsc          [113, 7, 6]  [336, 3, 23]

In [5]:
df

NameError: name 'df' is not defined

In [ ]:
#testall('/home/xhuang/stockBT_mm/xy_logs', factor_list)

In [ ]:
df = test(file_path2, factor_list)

In [ ]:
df

In [ ]:
plt.table([11,2,3])

In [ ]:
plt.table(cellText=[[1],[2],[3]], rowLabels=[1,2,3], colLabels=[1],colWidths = [0.1], loc='center',cellLoc='center')
plt.table(cellText=[[1],[2],[3]], rowLabels=[1,2,3], colLabels=[1],colWidths = [0.1], loc='center',cellLoc='center')

In [ ]:
print(df)